.image{
  width: 850px;
  height: 450px;
  object-fit: cover;
}
section {
  width: 850px;
  height: 324px;
  display: flex;
  justify-content: space-around;
  background-color:grey;
}
article{
  width: 270px;
}
#article2{
  margin-right: 20px;
  margin-left: 20px;
}
#article1{
  margin-left: 20px;
}